vendor/
node_modules/
.idea
/public/hot
/public/storage
/storage/*.key
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
