/* MAIN LAYOUT */
body {
    height:auto;
    background: url(/img/splash.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side{
    /* Add opacity to background to make the background image visible. */
    background-color: rgba(249, 250, 252, 0.7);
}

body .content-wrapper {
    /* Disable main content background color. */
    background: none;
}

/* LOGIN AND REGISTRATION LAYOUT */
body.login-page .login-logo a, body.register-page .register-logo a {
    color: #e4e4e4;
    text-shadow: 2px 2px #333333;
}

body.login-page .login-box-body, body.register-page .register-box-body {
    border-radius:3px;
    -webkit-box-shadow: 0px 0px 14px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 14px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 14px 4px rgba(50, 50, 50, 0.75);
}

/* MOBILE VIEW LAYOUT */
@media (max-width: 767px) {
    /*
     * Top header.
     * Theme defaults to black header with white text.
     * Make it a white header with black text.
     */
    .skin-black-light .main-header > .logo {
        background-color: #ffffff;
        color: #333333;
    }
    .skin-black-light .main-header > .logo:hover {
        background-color: #fcfcfc;
    }

    /*
     * Navbar open/close button and top menu items.
     * Hide borders.
     */
    .skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a,
    .skin-black-light .main-header .navbar .navbar-right>li>a,
    .skin-black-light .main-header .navbar .navbar-nav>li>a,
    .skin-black-light .main-header .navbar>.sidebar-toggle {
        border-color: #ffffff;
    }

    /*
     * Change background on hover.
     */
    .skin-black-light .main-header .navbar .sidebar-toggle:hover,
    .skin-black-light .main-header .navbar .nav>li>a:hover,
    .skin-black-light .main-header .navbar .nav>li>a:active,
    .skin-black-light .main-header .navbar .nav>li>a:focus,
    .skin-black-light .main-header .navbar .nav .open>a,
    .skin-black-light .main-header .navbar .nav .open>a:hover,
    .skin-black-light .main-header .navbar .nav .open>a:focus,
    .skin-black-light .main-header .navbar .nav>.active>a {
        background: #d2d6de;
        color: inherit;
    }
}

/**
 * Machine job timer component.
 */
.machine-job-timer .info-box-content {
    padding-bottom: 0px;
    padding-top: 0px;
}
